@import url('https://fonts.googleapis.com/css2?family=Keania+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ropa+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
}

.sliderStyleHeader{
  font-weight: 400;
  font-size: 1.9vw;
  margin-bottom: 2.3vw;
  
}

@keyframes sideScrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}



.siderStyle {
  font-family: 'Vidaloka', sans-serif;
  text-align: center;
  color: #000000;
  background-color: rgba(243, 215, 77, 0.5) !important;
  
}

.sliderStyleList{
  list-style: none;
  text-align: left;
  padding-left: 20px;
  max-width: 26.1vw;
  max-height: 61vw;
  overflow:scroll;
  margin: 0 auto;
  /* scroll-behavior: smooth; */
} 


.sliderStyleList::-webkit-scrollbar{
  width: 12px;
  background-color:black ;
  border-radius: 20px;
}
.sliderStyleList::-webkit-scrollbar-thumb{
  background-color: #d6bb32;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}



.sliderStyleText{
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 2.3vw;
}

/* AddWordButton.css */

.add-word-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-height: 70vh; 
  overflow-y: auto; 
}

.modal-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
